
/* Write all necessery css here  */
*{
background-color:rgb(24,31,56);
}
#nav{
height: 60px;
width: 100%;
display: flex;
justify-content: space-between;

color: white;
background-color:rgb(24,31,56);
}
#nav>div:nth-child(1){

height: 100%;
width:50%;
display: flex;
justify-content: space-evenly;
align-items: center;
}
#nav>div:nth-child(2){

height: 100%;
width:40%;
display: flex;
justify-content: space-evenly;
align-items: center;
}
#nav>div>a{
text-decoration: none;
color: antiquewhite;
font-family: sans-serif;
font-size: 20px;
}
#cont{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
 
  width: 90%;
  color: white;
  margin: auto;
}

#cont>div>div{

  display: flex;
}
#cont>div>div:hover{
color: rgb(8,207,101);
}
#cont>div>div>div:nth-child(1){
width: 20%;

padding-top: 23px;
}

